.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  flex: 1;

  border: 4px solid #fff;
  border-radius: 8px;
  padding: 25px;
  transition: all 0.3s ease-in-out;
  
  &:hover {
    box-shadow: 10px 10px 0px rgba(219, 219, 219, 0.5);
    // box-shadow: none;
  }
}

.card__title {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__image {
  object-fit: contain;
  // aspect-ratio: 1/1;
}