@mixin input {
  width: 100%;
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 8px;
} 

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fieldset {
  min-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;

  padding: 25px;
  border-radius: 8px;
}

.label {
  font-size: 24px;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  @include input;
}

.textarea {
  @include input;
  resize: vertical;
}